.swipeout {
    height: 100%;
    width: 100px;
    background-color: black;
    border-radius: 0px 5px 5px 0px;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-90px, 0, 0); 
    transition: transform 0.2s;
    overflow-x: hidden;
}
.swipeout:hover {
    transform: translate3d(0, 0, 0); ;
    box-shadow: 10px 10px 31px -21px rgba(0,0,0,0.75);

}
.tile-container {
    display: flex;
    flex-direction: column;
}
.tile {
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 7px 0 7px 0;
}
@media only screen and (min-height: 800px) {
    .tile {
        margin: 10px 0 10px 0;
    }
  }